In [2]:
#imports

%matplotlib inline
import numpy as np
import numexpr
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

from pandas import Series, DataFrame

np.random.RandomState(42)
sns.set()

In [4]:
data = pd.read_csv('/Users/anilthapa/Documents/Machine Learning Resource/Datasets/cell_samples.csv')
data.shape

(699, 11)

In [5]:
data.head()

        ID  Clump  UnifSize  UnifShape  ...  BlandChrom  NormNucl Mit  Class
0  1000025      5         1          1  ...           3         1   1      2
1  1002945      5         4          4  ...           3         2   1      2
2  1015425      3         1          1  ...           3         1   1      2
3  1016277      6         8          8  ...           3         7   1      2
4  1017023      4         1          1  ...           3         1   1      2

[5 rows x 11 columns]

In [6]:
data.columns

Index(['ID', 'Clump', 'UnifSize', 'UnifShape', 'MargAdh', 'SingEpiSize',
       'BareNuc', 'BlandChrom', 'NormNucl', 'Mit', 'Class'],
      dtype='object')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           699 non-null    int64
 1   Clump        699 non-null    int64
 2   UnifSize     699 non-null    int64
 3   UnifShape    699 non-null    int64
 4   MargAdh      699 non-null    int64
 5   SingEpiSize  699 non-null    int64
 6   BareNuc      699 non-null    object
 7   BlandChrom   699 non-null    int64
 8   NormNucl     699 non-null    int64
 9   Mit          699 non-null    int64
 10  Class        699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

In [8]:
data.Class.unique()

array([2, 4])

In [10]:
data.drop_duplicates(inplace=True)

In [11]:
data.shape

(691, 11)