In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

np.random.RandomState(42)

RandomState(MT19937) at 0x11F48F340

In [4]:
data = pd.read_csv('/Users/anilthapa/Documents/Datasets/Data-Science Class/goldstock.csv')
data.shape

(2511, 7)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2511 entries, 0 to 2510
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2511 non-null   int64
 1   Date        2511 non-null   object
 2   Close       2511 non-null   float64
 3   Volume      2511 non-null   float64
 4   Open        2511 non-null   float64
 5   High        2511 non-null   float64
 6   Low         2511 non-null   float64
dtypes: float64(5), int64(1), object(1)
memory usage: 137.4+ KB

In [7]:
data.head()

   Unnamed: 0        Date   Close    Volume    Open    High     Low
0           0  2024-01-19  2029.3  166078.0  2027.4  2041.9  2022.2
1           1  2024-01-18  2021.6  167013.0  2009.1  2025.6  2007.7
2           2  2024-01-17  2006.5  245194.0  2031.7  2036.1  2004.6
3           3  2024-01-16  2030.2  277995.0  2053.4  2062.8  2027.6
4           4  2024-01-12  2051.6  250946.0  2033.2  2067.3  2033.1

In [8]:
data.columns

Index(['Unnamed: 0', 'Date', 'Close', 'Volume', 'Open', 'High', 'Low'], dtype='object')

In [9]:
data = data[['Date', 'Volume', 'Open', 'Close', 'High', 'Low']]
data

            Date    Volume    Open   Close    High     Low
0     2024-01-19  166078.0  2027.4  2029.3  2041.9  2022.2
1     2024-01-18  167013.0  2009.1  2021.6  2025.6  2007.7
2     2024-01-17  245194.0  2031.7  2006.5  2036.1  2004.6
3     2024-01-16  277995.0  2053.4  2030.2  2062.8  2027.6
4     2024-01-12  250946.0  2033.2  2051.6  2067.3  2033.1
...          ...       ...     ...     ...     ...     ...
2506  2014-01-28   81426.0  1254.9  1250.5  1261.9  1248.0
2507  2014-01-27   63419.0  1269.9  1263.5  1280.1  1252.0
2508  2014-01-24   34998.0  1264.3  1264.5  1273.2  1256.9
2509  2014-01-23   41697.0  1235.1  1262.5  1267.1  1230.8
2510  2014-01-22   80262.0  1240.5  1238.6  1243.5  1235.5

[2511 rows x 6 columns]

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2511 entries, 0 to 2510
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2511 non-null   object
 1   Volume  2511 non-null   float64
 2   Open    2511 non-null   float64
 3   Close   2511 non-null   float64
 4   High    2511 non-null   float64
 5   Low     2511 non-null   float64
dtypes: float64(5), object(1)
memory usage: 117.8+ KB