In [31]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

rng = np.random.RandomState(42)

In [75]:
df = DataFrame(rng.rand(1000,3), columns=['A','B','C'])

In [77]:
df.eval('D=(A+B)/C', inplace = True)

In [78]:
df

            A         B         C         D
0    0.463236  0.180263  0.865085  0.743856
1    0.993862  0.260735  0.490803  2.556213
2    0.389338  0.117690  0.863978  0.586854
3    0.651512  0.397546  0.664984  1.577568
4    0.630191  0.227212  0.635784  1.348577
..        ...       ...       ...       ...
995  0.123883  0.958804  0.594635  1.820758
996  0.650699  0.217224  0.220966  3.927855
997  0.522053  0.141948  0.276021  2.405619
998  0.962381  0.901015  0.426932  4.364623
999  0.342399  0.012629  0.206610  1.718343

[1000 rows x 4 columns]

In [83]:
column_mean = df.mean(1)

In [84]:
result1 = df.A - column_mean

In [85]:
result1

0     -0.099874
1     -0.081541
2     -0.100127
3     -0.171390
4     -0.080250
         ...
995   -0.750637
996   -0.603487
997   -0.314358
998   -0.701357
999   -0.227596
Length: 1000, dtype: float64

In [88]:
result2 = df.eval('A - @column_mean')

In [89]:
np.allclose(result1, result2)

True

In [91]:
df[(df.A > 0.5) & (df.B < 0.5)]

            A         B         C         D
1    0.993862  0.260735  0.490803  2.556213
3    0.651512  0.397546  0.664984  1.577568
4    0.630191  0.227212  0.635784  1.348577
5    0.812748  0.028389  0.534346  1.574144
14   0.730755  0.001219  0.326227  2.243761
..        ...       ...       ...       ...
980  0.826317  0.247198  0.537312  1.997935
982  0.543677  0.032640  0.335590  1.717326
994  0.822373  0.366293  0.338135  3.515361
996  0.650699  0.217224  0.220966  3.927855
997  0.522053  0.141948  0.276021  2.405619

[240 rows x 4 columns]